@font-face {
  font-family: "Poppins Regular";
  src: url(../assets/fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Poppins Medium";
  src: url(../assets/fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: "Poppins Semibold";
  src: url(../assets/fonts/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: "Poppins Bold";
  src: url(../assets/fonts/Poppins-Bold.ttf);
}

.game-wrapper {
  border: 1px solid #e9e9e9;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;

  .game-container {
    width: 100%;
    height: calc(100% - 20px);
    margin: 10px;
    position: relative;

    border-bottom: 1px solid #545454;

    .score {
      position: absolute;
      top: 10px;

      display: flex;
      justify-content: flex-start;
      column-gap: 10px;

      font-family: "Poppins Semibold";
      font-size: 24px;
    }
    .saji-bosa {
      background-image: url("../assets/images/saji_bosa.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

      width: 50px;
      height: 59px;

      position: absolute;
      bottom: 0;
      left: 0;
    }
    .animate {
      animation: 750ms jump infinite linear;
    }
    .animate-ghost {
      animation: 2s ghost infinite linear;
    }
    .ghost {
      position: absolute;
      bottom: 0;
      right: 0;

      background-image: url("../assets/images/ghost.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

      width: 48px;
      height: 48px;
    }
  }
}

.scaredPopupBg {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #a1a1a187;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;

  .popup {
    height: 350px;
    background-color: #ffffff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .popup-title {
      font-family: "Poppins Bold";
      font-size: 24px;
      width: 100%;
    }

    .description {
      margin-top: 15px;
      text-align: center;
    }

    .share-score {
      margin-top: 30px;
      font-family: "Poppins Semibold";
      font-size: 24px;
    }
    .share-buttons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 9px;
      width: 100%;

      button {
        display: flex;
        justify-content: center;
        align-items: center;

        background: transparent;
        border: none;

        width: 24px;
        height: 24px;
      }
    }
    .button-wrapper {
      margin-top: 20px;
      width: 150px;
    }
  }
}

@keyframes ghost {
  0% {
    right: 0;
  }
  100% {
    right: calc(100%);
  }
}

@keyframes jump {
  0% {
    bottom: 0;
  }
  30% {
    bottom: 60px;
  }
  70% {
    bottom: 60px;
  }
  100% {
    bottom: 0;
  }
}

@media only screen and (max-width: 600px) {
  .row {
    margin: 0;

    .popup {
      height: 100vh;
    }
  }
}
